@import "../../variables.scss";

.input-wrapper {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;

  .error {
    color: $colorErrorRed;
    position: absolute;
    bottom: -18px;
    left: 8px;
    font-size: 12px;
  }

  input {
    display: block;
    width: 100%;
    height: 40px;
    outline: none;
    transition: 0.15s;
    margin-bottom: 32px;
    font-size: 16px;
    color: $colorPrimaryBlack;
    border: 0;
    box-shadow: inset 0 -1px 0 $colorGrey;
    padding-left: 8px;

    &:focus {
      box-shadow: inset 0 -2px 0 $colorPrimaryBlack;
    }

    &::placeholder {
      width: 100%;
      font-size: 16px;
      color: $colorDeepGrey;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 0;
    transition: background-color 5000s ease-in-out 0s;
  }
}
