@import "../../variables.scss";

.product-wrapper {
  color: $colorWhite;
  padding-bottom: 120px;

  @media (max-width: 768px) {
    padding-top: 28px;
  }

  &-header {
    display: flex;
    margin-bottom: 80px;

    @media (max-width: 580px) {
      margin-bottom: 40px;
    }

    button {
      margin: 12px 0 12px auto;
    }
  }

  .product-content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 925px) {
      flex-direction: column;
    }

    &__image {
      max-width: 500px;
      width: 100%;

      @media (max-width: 925px) {
        max-width: 100%;
        max-height: 600px;
        overflow: hidden;
        margin-bottom: 40px;
      }

      img {
        width: 100%;
      }
    }

    &-text {
      max-width: 650px;
      width: 100%;
      margin-left: 40px;

      @media (max-width: 925px) {
        margin-left: 0;
        max-width: 100%;
      }

      .title {
        margin-bottom: 40px;

        @media (max-width: 480px) {
          font-size: 40px;
          line-height: 60px;
          margin-bottom: 32px;
        }
      }

      &__large {
        margin-bottom: 16px;
        font-size: 22px;
        line-height: 40px;

        @media (max-width: 480px) {
          font-size: 20px;
        }
      }

      &__medium {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 32px;

        @media (max-width: 480px) {
          font-size: 17px;
        }
      }

      &__small {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 28px;

        @media (max-width: 480px) {
          font-size: 15px;
        }
      }

      &__grey {
        color: $colorMediumGrey;
      }

      &__silver {
        color: $colorSilver;
      }
    }
  }
}
