@import "../../../../variables.scss";

.products-wrapper {
  color: $colorWhite;

  @media (max-width: 768px) {
    margin-top: -80px;
  }


  
    .title {
      margin-bottom:40px;
      @media (max-width: 370px) {
        font-size: 40px;
      }
    }

  .products-list {
    max-width: 1200px;
    display: flex;
    width: 100%;
    overflow-x: auto;
    position: relative;

    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }

    @media (max-width: 720px) {
      justify-content: center;
    }
  }
}
