.page-wrapper{
    padding-top:120px;
    h1{
        justify-content: center;
        display: flex;
        margin-bottom: 56px;
      }
      
    &__bottom-text {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    
        a {
          color: cornflowerblue;
          transition: 0.15s;
    
          &:hover {
            text-decoration: none;
          }
        }
      }
}