@import "../../variables.scss";
.header {
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  z-index: 99;
  transition: $timeMedium;
  backdrop-filter: blur(40px);

  &--active {
    background: rgba($colorHeaderBlack, 0.5);
    box-shadow: rgba(#090a0c, 0.1) 0px 2px 5px 0px;
  }

  .container {
    display: flex;
  }

  button {
    margin: auto 0 auto auto;
    display: flex;
  }
}
