.form {
    max-width: 400px;
    width: 100%;
    padding: 40px 0 56px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto 12px;
    border-radius: 4px;

    h1{
      justify-content: center;
      display: flex;
      margin-bottom: 56px;
    }
  
    &-wrapper {
      width: 100%;
      display: block;
      margin-bottom: 48px;
    }
  }
  