$colorWhite: #fff;
$colorSilver: #f3f5fa;
$colorGrey: #cad2d6;
$colorMediumGrey: #909fa9;
$colorDeepGrey: #505e68;
$colorShadowBlack: rgba(0, 0, 0, 0.16);
$colorDeepBlack: #2c343a;
$colorPrimaryBlack: #20232a;
$colorHeaderBlack: #16181d;
$colorBlack: #000;
$colorErrorRed: #da1b41;
$colorPrimaryYellow: #ffd740;

$timeFast: 0.15s;
$timeMedium: 0.3s;